@charset "UTF-8";
/* ——————————————————— EXPERIMENT-WIDE ELEMENTS ——————————————————— */
body {
	font-family: Helvetica, Arial, sans-serif;
    background-color: #CAEAE7;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: Quicksand, Helvetica, Arial, sans-serif;
}

p, h2, h3 {
    clear: left;
}


button {
	height: 50px;
	font-size: 12pt;
	width: 200px;
	display:block;
	margin: 20px auto 20px auto;
	padding: 0 20px;
	background-color: #BFF58F;
	border-radius: 5px;
	border: none;
    clear: left
}

.continue-inactive {
    background-color: #bdbdbd;
    color: #e1e1e1;
}

.continue-active {
    background-color: #FF9108;
    color: #fbeedf;
}

.slide, #jspsych-display{
	background-color: #FFF;
    padding: 20px;
    margin: 0 auto;
    width: 100hw;
    min-height: 100vh;
    text-align: center;
}

#jspsych-target {
    text-align: center;
    position: relative;
}

.left-text, #attn-check {
    text-align: left;
}

.unselected, .selected {
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
}

.unselected {
    border-color: #ffffff;
}

.selected {
    /* border-color: #caea87; */
    -webkit-box-shadow: 0 0 15px 5px #caea87, inset 0px 0px 0px 5px #fff;
    -moz-box-shadow: 0 0 15px 5px #caea87, inset 0px 0px 0px 5px #fff;
    box-shadow: 0 0 15px 5px #caea87, inset 0px 0px 0px 5px #fff;
}

.centered-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#i0, #attn-chck, #sll-survey {
	width: 1000px;
	margin: 0 auto;
    text-align: left;
}

.legal {
	width: 800px;
	height: auto;
	margin: 0 auto;
	padding: 20px;
	background-color: #FFEE9F;
	border-radius: 10px;
	
}

.instruction {
    width: 700px;
}

.attn-q {
    list-style: none;
}

.attn-q.linear li {
    float: left;
    padding: 0px 20px 20px 0px;
}

.warning {
    text-align: center;
    font-size: 14pt;
    color: #999;
}

/* ——————————————————— TUTORIAL ——————————————————— */
#jspsych-instructions-back, #jspsych-instructions-next, .neutral-button {
    background: #fff;
    border: 3px solid #ccc;
}

#jspsych-instructions-back, #jspsych-instructions-next {
    clear: none;
    display: inline-block;
    margin: 0 10px;   
}

/* ——————————————————— FISHERMEN ——————————————————— */
.village-container {
    display: inline-block;
    position: relative;
    width: 600px;
}

.fishing-village {
    width: 600px;
    display: block;
    margin: 0 auto;
}

.village-banner {
    table-layout: fixed;
    width: 600px;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    color: #fff;
    font-weight: bold;    
}

.village-banner td {
    width: 300px;
}

.announce {
    position: absolute;
    background: #fff;
    right: 5px;
    bottom: 5px;
    padding: 10px;
    width: 200px;
    text-align: left;
}

.blame-slider {
    width: 300px;
    float: left;
    padding: 10px 25px;
}

.blame-container, .action-container {
    display: inline-block;
    width: 1050px;
    margin: 0 auto;
}

.blame-slider ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 120px;
    float: left;
}

/* ——————————————————— SURVEY ——————————————————— */
#survey input[type="text"] {
    width: 8em;
    font-size: 12pt;
}

#i0-wrapper {
    background-color: #CAEAE7;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#i0 {
    background-color: #FFFFFF;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
